/* CATEGORIES SECTION */
.all-categories-input {
    display: flex;
    gap: 5px;
    position: relative;
    margin-top: 40px; /* Adjust this value to add space at the top */
    flex-wrap: wrap; /* Ensure categories wrap to a new line if needed */
}

.category-header {
    width: 100%;
    margin-bottom: 10px; /* Adjust space between header and categories */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Make the header text bold */
}

.radio-category-container {
    position: relative;
    display: flex;
}

.label-category {
    width: 41px;
    height: 41px;
    background-color: var(--halfdarkblue);
    border-radius: 50px;
    position: relative; /* Changed from absolute to relative */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.2s;
}

.label-category:hover {
    background-color: var(--lightblue);
    transition: all 0.2s;
    cursor: pointer;
}

.input-category {
    width: 40px;
    height: 45px;
    opacity: 0;
}

.input-category:checked + .label-category {
    background-color: var(--lightblue);
}

.all {
    font-size: 12px;
}

.filter-svg {
    width: 20px;
}

.category-name {
    display: none;
    position: absolute; /* Position it absolutely */
    bottom: 100%; /* Position above the button */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap; /* Ensure text doesn't wrap */
}

.label-category:hover .category-name {
    display: inline-block;
}
